$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';

$background-color: white;
$font-color: black;
$white: #fff;

body {
  background-color: $background-color;
  color: $font-color;
}

#gametable {
  border: 3px solid black
}
